html {
  height: 100%;
}
body {
  height: 100%;
  background: black;
}
a, a:hover, a:focus, a:active {
  color: inherit;
}
.maintain-height {
  height: 2vh;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#intro:before {
  content: "";
  position: absolute;
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  -webkit-filter: blur(8px);
  filter: blur(8px);
  -webkit-transition: all 0.7 ease;
  transition: all 0.7 ease;
}
#intro {
  height: 100vh;
  font-size: 46px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 700;
  text-shadow: 3px 3px 3px black;
}
.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.typing {
  font-size: 60px;
}
.invisible {
  opacity: 0;
}
.visible {
  opacity: 1.0 !important;
}
.sub-text {
  opacity: 0;
  color: #00CCFF;
  font-size: 32px;
  -webkit-transition: all 0.7 ease;
  transition: all 0.7 ease;
}
.center-block {
  text-align: center;
}
#content {
  position: relative;
  height: auto;
  font-size: 24px;
  color: #111;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 1px 1px 10px black;
}
#carl-circle {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  -webkit-transition: all 1.0s ease;
  transition: all 1.0s ease;
  opacity: 0;
  box-shadow: 1px 1px 12px black;
}
#content>.boxx {
  padding-bottom: 50px;
  padding-top: 20px;
}
.boxx > * {
  position: relative;
  opacity: 0;
  margin-left: 30px;
}
h4:after {
  content: '';
  display: block;
  width: 15%;
  height: 1px;
  background-color: #111;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 20px;
}
h4 {
  font-size: 36px;
  font-weight: 500;
  margin-top: 20px;
}
.fa.fa-lg {
  margin-top: 20px;
  color: #EEE;
}
#WhatIDo {
  background: #00CCFF;
}
#WhoAmI {
  background: white;
}
#Contact {
  background: #555;
  color: white;
}
.col-sm-6, .col-sm-12 {
  padding: 0;
}
.preview-container {
  position: relative;
  z-index: 9;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  box-shadow: 2px 2px 7px #222;
}
.preview-container > img {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.preview-container:hover > img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.hover-box {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 10;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  opacity: 0;
  font-family: 'Montserrat';
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.hover-box > * {
  position: relative;
  top: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hover-box > p {
  font-size: 60px;
  font-weight: 600;
}
.hover-box > div {
  font-size: 40px;
}
.hover-box:hover {}
#mediablock {
  text-align: center;
}
.social-img {
  margin-left: auto;
  margin-right: auto;
  width: 30px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}
p {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
p>img {
  box-shadow: 4px 3px 12px black;
}
h6 {
  font-size: 60px;
  margin-left: 30px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: 'Asap';
  text-align: center;
  color: #111 !important;
}
.media:hover>span>.fa-circle {
  color: white;
}
.media {
  margin: 10px;
}
.fa-circle {
  color: #444;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fa-github:hover, .fa-facebook:hover, .fa-envelope-o:hover, .fa-linkedin:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #444;
}
#footer {
  font-size: 24px;
  background: black;
}
#footer > div {
  height: 50px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
