html {
	height: 100%;
}
body {
	height:99%;
	background-image: url();
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
}
#menuBar {
	position: relative;
	right:5%;
	top: 2%;
}
#menuBar li {
	margin: 2%;
	font-size: 16px;
	color: #4C4C4C;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#menuBar li:hover {
	font-size: 22px;
	color: black;
}
#slideshow {
	height: 40%;
	font-size: 46px;
	padding-left: 50px;
	color: white;
}
#slideshow img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	z-index: 0;
}
#slideshow div {
	position: relative;
	z-index: 1;
}
#content {
	position: relative;
	height: auto;
	font-size: 24px;
	border: 1px solid green;
	background-image: url("carl.png");
}
#content div {
	color: black;
	background-color: white;
	padding: 30px;
	padding-top: 15px;
}
#content div:nth-child(even){
	background-color:#4C4C4C;
	color: white;
}
#content a {
	color: lightblue;
}
#content a:hover {
	color: grey;
	text-decoration: underline;
}
h6 {
	font-size: 60px;
	margin-left: 30px;
}
dd a {
	color: blue;
}
dd a:hover{
	color: grey;
	text-decoration: underline;
}
#footer {
	
}
#footer a:hover{
	color: grey;
}