<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Artificial Intelligence</b>. It's an exciting time for AI. I regularly experiment with new capabilities to evaluate how AI can be used to help solve complex problems.
			  </li>
			  <li>
				  <b>Music</b>. I love music in many forms and spent the better part of 12 years playing various instruments. From classical piano to electronic music to alternative rock, I 
				  find that music is a quintissential avenue for focus, relaxation, and creativity.
			  </li>
			  <li>
				  <b>My Family</b>. As a relatively new father, I enjoy spending time with my family. Watching my daughter grow up has brought me immeasureable joy!
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Tinkerings</h3>
		  <ul>
  			<li>
          An AI-powered API for generating transcriptions and summaries for YouTube videos.
    		</li>
  			<li>
          An assortment of useful Slack bots for drip-feeding daily information to my wife.
  			</li>
  			<li>
		  A Reddit comment crawler for rapidly fetching and indexing comments from subreddits.
  			</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
