.main {
    height: 100vh;
    background: url('./img/blur.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main-hero {
    padding-bottom: 10%;
    z-index: 0;
}
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px 3px black;
}

.projects {
    display: inline-block;
    padding: 12px;
    border: 2px solid #FFF;
    border-radius: 6px;
    color: #FFF;
    font-size: 36px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.projects:hover {
    background: #FFF;
    color: #000;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.carl-circle {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 999px;
    box-shadow: 1px 1px 12px black;
}