.social-icon {
    display: inline;
    font-size: 40px;
}

.fa-social {
    width: 80px;
    height: 80px;
    padding: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    box-shadow: 1px 1px 4px black;
    border: 1px solid #FFF;
    border-radius: 999px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.fa-github:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-envelope-o:hover,
.fa-linkedin:hover,
.fa-medium:hover {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: rgb(247, 147, 101);
    border: 1px solid rgb(241, 125, 71);
}