<!-- <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 4+ years of object-oriented experience; C++ and Java<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Continuous involvement with industry-leading game development engines; Unity 5 and Unreal 4.8+<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Practical knowledge of full-stack web application technology; MongoDB, Express, Angular, Node<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Strong competence of web development languages and frameworks; HTML5, CSS3, JavaScript, Bootstrap, jQuery<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Seasoned participant of Scrum-based Agile development methods<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Familiarity working with version control; GitHub, Perforce, Sourcetree<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Adaptable in learning new technologies<br>
<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Resilient in leading and working on team projects<br> -->
<div class="container center-block" ng-controller="aboutController">
  <row>
    <div class="col-sm-3" ng-repeat="item in info">
      <i class="fa fa-lg {{item.icon}}"></i>
      <h4>{{item.title}}</h4>
      <p>{{item.desc}}</p>
    </div>
  </row>
</div>
<br>
<row ng-controller="previewController">
  <div ng-repeat="preview in previews" class="{{preview.blockSize}}">
    <div class="preview-container center-block" ng-mouseenter="hovered = true" ng-mouseleave="hovered = false">
      <div class="hover-box" ng-class="{visible: hovered}" ng-click="go(preview.link);">
        <p>{{preview.title}}</p>
        <div>{{preview.desc}}</div>
      </div>
      <img ng-src="{{preview.imgURL}}" alt="{{preview.title}}" width="100%" height="600px"/>
    </div>
  </div>
</row>
