<div id="mediablock" class="row" ng-controller="SocialMediaCtrl">
  Have questions? Wanna work together?
<br> Feel free to contact me!
<br>
  <ul class="list-inline">
    <li class ="media" ng-repeat="media in medias" ng-click="mediaClicked(media.url)" ng-mouseover="mediaHover(media)" ng-mouseout ="mediaOut()">
      <span class="fa-stack fa-lg">
          <i class="fa fa-stack-2x fa-circle"></i>
          <i class="fa fa-stack-1x {{media.icon}}"></i>
      </span>
    </li>
  </ul>
  <div class="center-block maintain-height" ng-class="{invisible : !showMedia}">
    {{showMedia}}
  </div>
</div>
